@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 199.4 100% 95%;
    --foreground: 199.4 5% 10%;
    --card: 199.4 50% 93%;
    --card-foreground: 199.4 5% 15%;
    --popover: 199.4 100% 95%;
    --popover-foreground: 199.4 100% 10%;
    --primary: 199.4 95.5% 73.9%;
    --primary-foreground: 0 0% 0%;
    --secondary: 199.4 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 161.4 30% 93%;
    --muted-foreground: 199.4 5% 40%;
    --accent: 161.4 30% 90%;
    --accent-foreground: 199.4 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 199.4 5% 93%;
    --border: 199.4 30% 82%;
    --input: 199.4 30% 50%;
    --ring: 199.4 95.5% 73.9%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 199.4 50% 10%;
    --foreground: 199.4 5% 93%;
    --card: 199.4 50% 10%;
    --card-foreground: 199.4 5% 93%;
    --popover: 199.4 50% 5%;
    --popover-foreground: 199.4 5% 93%;
    --primary: 199.4 95.5% 73.9%;
    --primary-foreground: 0 0% 0%;
    --secondary: 199.4 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 161.4 30% 25%;
    --muted-foreground: 199.4 5% 65%;
    --accent: 161.4 30% 25%;
    --accent-foreground: 199.4 5% 93%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 199.4 5% 93%;
    --border: 199.4 30% 50%;
    --input: 199.4 30% 50%;
    --ring: 199.4 95.5% 73.9%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
